{% extends "vms/base.html" %}

{% block content %}
    <div class="spacer"></div>
    <ul class="nav nav-tabs">
        <li><a href="#organization" data-toggle="tab">Organization</a></li>
        <li><a href="#job" data-toggle="tab">Job</a></li>
        <li><a href="#event" data-toggle="tab">Event</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane" id="organization">
            <p>This is the organization</p>
        </div>
        <div class="tab-pane" id="job">
            <p>This is the job</p>
        </div>
        <div class="tab-pane" id="event">
            <p>This is the event</p>
        </div>
    </div>
{% endblock %}
