{% extends "vms/base.html" %}

{% block content %}
    <form class="signup form-signup" id="signup_form" method="post">
        {% csrf_token %}
        <h2>Sign Up</h2>
        <hr></hr>
        <div id="div_id_username" class="form-group">
            <label class="control-label requiredField" for="id_username">
                Username<span class="asteriskField">*</span>
            </label>
            <div class="controls">
                <input id="id_username" class="textinput textInput form-control" type="text" placeholder="Username" name="username" maxlength="30" autofocus="autofocus"></input>
            </div>
        </div>
        <div id="div_id_password" class="form-group">
            <label class="control-label requiredField" for="id_password">
                Password<span class="asteriskField">*</span>
            </label>
            <div class="controls">
                <input id="id_password" class="textinput textInput form-control" type="password" placeholder="Password" name="password"></input>
            </div>
        </div>
        <div id="div_id_description" class="form-group">
            <label class="control-label" for="id_description">
                About
            </label>
            <div class="controls">
                <textarea id="id_description" class="textinput textInput form-control" type="text" placeholder="Include a short biography of yourself" name="description" rows="5"></textarea>
            </div>
        </div>
        <div id="div_id_first_name" class="form-group">
            <label class="control-label requiredField" for="id_first_name">
                First Name<span class="asteriskField">*</span>
            </label>
            <div class="controls">
                <input id="id_first_name" class="textinput textInput form-control" type="text" placeholder="First Name" name="first_name"></input>
            </div>
        </div>
        <div id="div_id_last_name" class="form-group">
            <label class="control-label requiredField" for="id_last_name">
                Last Name<span class="asteriskField">*</span>
            </label>
            <div class="controls">
                <input id="id_last_name" class="textinput textInput form-control" type="text" placeholder="Last Name" name="last_name"></input>
            </div>
        </div>
        <div id="div_id_email" class="form-group">
            <label class="control-label requiredField" for="id_email">
                Email<span class="asteriskField">*</span>
            </label>
            <div class="controls">
                <input id="id_email" class="textinput textInput form-control" type="text" placeholder="Email" name="email"></input>
            </div>
        </div>
        <div id="div_id_address" class="form-group">
            <label class="control-label requiredField" for="id_address">
                Address<span class="asteriskField">*</span>
            </label>
            <div class="controls">
                <input id="id_address" class="textinput textInput form-control" type="text" placeholder="Address" name="address"></input>
            </div>
        </div>
        <div id="div_id_city" class="form-group">
            <label class="control-label requiredField" for="id_city">
                City<span class="asteriskField">*</span>
            </label>
            <div class="controls">
                <input id="id_city" class="textinput textInput form-control" type="text" placeholder="City" name="city"></input>
            </div>
        </div>
        <div id="div_id_state" class="form-group">
            <label class="control-label requiredField" for="id_state">
                State/Province<span class="asteriskField">*</span>
            </label>
            <div class="controls">
                <input id="id_state" class="textinput textInput form-control" type="text" placeholder="State/Province" name="state"></input>
            </div>
        </div>
        <div id="div_id_country" class="form-group">
            <label class="control-label requiredField" for="id_country">
                Country<span class="asteriskField">*</span>
            </label>
            <div class="controls">
                <input id="id_country" class="textinput textInput form-control" type="text" placeholder="Country" name="country"></input>
            </div>
        </div>
        <div id="div_id_phone_number" class="form-group">
            <label class="control-label requiredField" for="id_phone_number">
                Phone Number<span class="asteriskField">*</span>
            </label>
            <div class="controls">
                <input id="id_phone_number" class="textinput textInput form-control" type="text" placeholder="Phone Number" name="phone_number"></input>
            </div>
        </div>
        <div id="div_id_organization" class="form-group">
            <label class="control-label">
                Organization
            </label>
            <select id="select" class="form-control" name="organization_name">
                <option value="0">-- Select Organization --</option>
                <option>Google</option>
                <option>Microsoft</option>
            </select>
        </div>
        <div id="div_id_unlisted_organization" class="form-group">
            <label class="control-label" for="id_unlisted_organization">
                If your organization is not listed above, please provide it here:
            </label>
            <div class="controls">
                <input id="id_unlisted_organization" class="textinput textInput form-control" type="text" placeholder="Organization" name="unlisted_organization"></input>
            </div>
        </div>
        <div id="div_id_websites" class="form-group">
            <label class="control-label" for="id_websites">
                Profiles
            </label>
            <div class="controls">
                <textarea id="id_websites" class="textinput textInput form-control" type="text" placeholder="Include links to any online profiles here" name="websites" rows="5"></textarea>
            </div>
        </div>
        <div id="div_id_resume_file" class="form-group">
            <label class="control-label">Upload a Resume</label>
        </div>
        <div id="div_id_resume" class="form-group">
            <label class="control-label" for="id_resume">
                Resume
            </label>
            <div class="controls">
                <textarea id="id_resume" class="textinput textInput form-control" type="text" placeholder="Alternatively, include your resume here" name="resume" rows="5"></textarea>
            </div>
        </div>
    </form>
{% endblock %}
